# Crear la clase  Target

## Ejercicio 1

Cree el archivo competencia_01.csv, usando el competencia_01_crudo.csv con una variable adicional llamada clase_ternaria, que contenga las categorías **CONTINUA, BAJA+1 y BAJA+2**

Ayudita
Para practicar el muy útil y necesario lenguaje **SQL**, vamos a utilizar una base de datos **OLAP** llamada **DuckDB**.

La documentación la puede encontrar [aquí](https://duckdb.org/docs/archive/0.8.1/sql/introduction) Procedemos a instalarla, esto se debe ejecutar una sola vez

In [1]:
!pip install duckdb
!pip install jupysql
!pip install duckdb-engine

Requirement already satisfied: duckdb in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.0.0)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: C:\Users\Usuario\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: jupysql in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.10.12)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: C:\Users\Usuario\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jupysql) (0.2.25)
Requirement already satisfied: sqlparse in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jupysql) (0.5.1)
Requirement already satisfied: prettytable in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jupysql) (3.11.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jupysql) (3.1.4)
Requirement already satisfied: ploomber-extension in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jupysql) (0.1.1)
Requirement already satisfied: jupysql-plugin>=0.4.2 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jupysql) (0.4.4)
Requirement already satisfied: sqlglot>=11.3.7 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jupysql) (25.14.0)
Requirement already satisfied: sqlalchemy in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jupysql) (2.0.32)
Requirement already satisfied: posthog in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ploomber-core>=0.2.7->jupysql) (3.5.0)
Requirement already satisfied: pyyaml in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from jinja2->jupysql) (2.1.5)
Requirement already satisfied: wcwidth in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from prettytable->jupysql) (0.2.6)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy->jupysql) (3.0.3)
Requirement already satisfied: python-dateutil>2.1 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: backoff>=1.10.0 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: six>=1.5 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.7.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: duckdb-engine in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.13.1)
Requirement already satisfied: duckdb>=0.5.0 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from duckdb-engine) (1.0.0)
Requirement already satisfied: sqlalchemy>=1.3.22 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from duckdb-engine) (2.0.32)
Requirement already satisfied: packaging>=21 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from duckdb-engine) (23.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\usuario\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.12.2)

[notice] A new release of pip is available: 23.0.1 -> 24.2
[notice] To update, run: C:\Users\Usuario\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Configuramos el entorno de ejecución. Si ya tiene todo instalado, solo necesita ejecutar esta celda para empezar a usar **duckdb**

In [3]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%sql duckdb:///database.duckdb

Y ya podemos usar **SQL** dentro de una notebook!

In [5]:
%%sql
select 'hola mundo'

  'hola mundo'
0   hola mundo

Para cargar el archivo `.csv` a una tabla pasando su ubicación a través de la variable `dataset_path`:

In [11]:
dataset_path = 'C:/Users/Usuario/Downloads/'
dataset_file = 'competencia_01_crudo.csv'

In [12]:
%%sql
create or replace table competencia_01_crudo as
select
    *
from read_csv_auto("{{dataset_path + dataset_file}}")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Empty DataFrame
Columns: [Success]
Index: []

Hagamos unas queries básicas para comprobar que todo esta funcionando bien.

In [72]:
%sql select * from competencia_01_crudo limit 5

   count(DISTINCT numero_de_cliente)
0                             169481

In [48]:
%%sql
-- Selecciona las filas con numero_de_cliente repetido en la tabla competencia_01_crudo
SELECT *
FROM competencia_01_crudo
WHERE numero_de_cliente IN (
    SELECT numero_de_cliente
    FROM competencia_01_crudo
    GROUP BY numero_de_cliente
    HAVING COUNT(*) > 1
)

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,916010321,202101,1,0,0,63,81,46.74,11393.64,-3.17,...,0.0,4.0,0.0,-387.40,0.00,2449.0,382.80,1.0,0.0,11.73
1,916020603,202101,1,0,0,44,121,210.82,15799.35,1484.20,...,0.0,4.0,50688.3,-98184.87,0.66,3650.0,21378.79,11.0,0.0,2756.55
2,916022131,202101,1,0,0,44,57,578.47,5522.29,-207.14,...,NaN,4.0,0.0,NaN,NaN,1727.0,NaN,NaN,NaN,0.00
3,916022208,202101,1,0,0,35,121,4219.91,51904.86,250.82,...,0.0,4.0,0.0,-9173.21,0.00,3706.0,0.00,0.0,0.0,0.00
4,916031542,202101,1,0,1,43,121,2204.68,8776.96,2127.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979854,1595206614,202106,1,0,0,31,2,237.47,237.50,37.25,...,0.0,0.0,0.0,0.00,0.00,41.0,3192.89,1.0,0.0,0.00
979855,1595462216,202106,1,0,0,33,2,393.94,419.10,108.71,...,NaN,0.0,0.0,NaN,NaN,50.0,NaN,NaN,NaN,0.00
979856,1595487084,202106,1,0,0,42,2,1.20,1.68,0.00,...,NaN,21.0,0.0,NaN,NaN,42.0,NaN,NaN,NaN,0.00
979857,1595532012,202106,1,0,0,39,2,187.96,187.96,43.08,...,NaN,0.0,0.0,NaN,NaN,36.0,NaN,NaN,NaN,0.00
979858,1595553890,202106,0,0,0,42,2,0.00,0.00,0.00,...,NaN,0.0,0.0,NaN,NaN,31.0,NaN,NaN,NaN,0.00

In [18]:
%%sql
select
    foto_mes
    , count(*) as cantidad -- cuenta cuantos casos hay en cada foto_mes
                           -- y lo guarda en un campo llamado cantidad
from competencia_01_crudo
group by foto_mes

   foto_mes  cantidad
0    202101    162026
1    202102    162646
2    202103    163685
3    202104    164090
4    202105    164623
5    202106    164876

Perfecto, ahora cree una nueva tabla con la variable adicional que se le pide.

In [58]:
%%sql
CREATE OR REPLACE TABLE competencia_01 AS
SELECT 
    numero_de_cliente,
    MAX(CASE WHEN foto_mes = 202101 THEN 1 ELSE 0 END) AS foto_mes_202101,
    MAX(CASE WHEN foto_mes = 202102 THEN 1 ELSE 0 END) AS foto_mes_202102,
    MAX(CASE WHEN foto_mes = 202103 THEN 1 ELSE 0 END) AS foto_mes_202103,
    MAX(CASE WHEN foto_mes = 202104 THEN 1 ELSE 0 END) AS foto_mes_202104,
    MAX(CASE WHEN foto_mes = 202105 THEN 1 ELSE 0 END) AS foto_mes_202105,
    MAX(CASE WHEN foto_mes = 202106 THEN 1 ELSE 0 END) AS foto_mes_202106
FROM 
    competencia_01_crudo
GROUP BY
    numero_de_cliente

Empty DataFrame
Columns: [Success]
Index: []

In [62]:
%%sql
CREATE OR REPLACE TABLE competencia_02 AS
SELECT
    numero_de_cliente,
    CASE 
        WHEN foto_mes_202103 = 1 AND foto_mes_202104 = 0 THEN 'BAJA+1'
        WHEN foto_mes_202104 = 1 AND foto_mes_202105 = 0 THEN 'BAJA+2'
        ELSE 'CONTINUA'
    END AS clase
FROM competencia_01;

Empty DataFrame
Columns: [Success]
Index: []

In [71]:
%%sql
SELECT *
FROM competencia_02
WHERE clase = 'CONTINUA'

        numero_de_cliente     clase
0               626600137  CONTINUA
1               626610573  CONTINUA
2               626629599  CONTINUA
3               626647977  CONTINUA
4               626651265  CONTINUA
...                   ...       ...
167466          669310243  CONTINUA
167467          670927908  CONTINUA
167468          680687953  CONTINUA
167469          694375857  CONTINUA
167470          703032227  CONTINUA

[167471 rows x 2 columns]

## Ejercicio 1.1
* ¿Cuál es la nominalidad de cada clase?

In [20]:
%%sql
PIVOT competencia_01
on clase_ternaria
USING count(numero_de_cliente)
GROUP BY foto_mes

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(duckdb.duckdb.InvalidInputException) Invalid Input Error: Attempting to execute an unsuccessful or closed pending query result
Error: Catalog Error: Table with name competencia_01 does not exist!
Did you mean "competencia_01_crudo"?
[SQL: PIVOT competencia_01
on clase_ternaria
USING count(numero_de_cliente)
GROUP BY foto_mes]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

* ¿Cuál es la proporción del target?

## Guardar tabla en .csv

Para guardar a un `.csv` simplemente debe ejecutar la siguiente sentencia

In [ ]:
%%sql COPY competencia_01 TO '{{dataset_path}}competencia_01.csv' (FORMAT CSV, HEADER)